<div class="d-flex justify-content-center">
  <div class="col-8">
    <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
      <h2 id="jhi-complexe-heading" data-cy="ComplexeCreateUpdateHeading" jhiTranslate="fitFootApp.complexe.home.createOrEditLabel">
        Create or edit a Complexe
      </h2>

      <div>
        <jhi-alert-error></jhi-alert-error>

        <div class="row mb-3" *ngIf="editForm.controls.id.value !== null">
          <label class="form-label" jhiTranslate="global.field.id" for="field_id">ID</label>
          <input type="number" class="form-control" name="id" id="field_id" data-cy="id" formControlName="id" [readonly]="true" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fitFootApp.complexe.nom" for="field_nom">Nom</label>
          <input type="text" class="form-control" name="nom" id="field_nom" data-cy="nom" formControlName="nom" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fitFootApp.complexe.longitude" for="field_longitude">Longitude</label>
          <input type="number" class="form-control" name="longitude" id="field_longitude" data-cy="longitude" formControlName="longitude" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fitFootApp.complexe.latitude" for="field_latitude">Latitude</label>
          <input type="number" class="form-control" name="latitude" id="field_latitude" data-cy="latitude" formControlName="latitude" />
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fitFootApp.complexe.quartier" for="field_quartier">Quartier</label>
          <select
            class="form-control"
            id="field_quartier"
            data-cy="quartier"
            name="quartier"
            formControlName="quartier"
            [compareWith]="compareQuartier"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="quartierOption" *ngFor="let quartierOption of quartiersSharedCollection">{{ quartierOption.id }}</option>
          </select>
        </div>

        <div class="row mb-3">
          <label class="form-label" jhiTranslate="fitFootApp.complexe.proprietaire" for="field_proprietaire">Proprietaire</label>
          <select
            class="form-control"
            id="field_proprietaire"
            data-cy="proprietaire"
            name="proprietaire"
            formControlName="proprietaire"
            [compareWith]="compareProprietaire"
          >
            <option [ngValue]="null"></option>
            <option [ngValue]="proprietaireOption" *ngFor="let proprietaireOption of proprietairesSharedCollection">
              {{ proprietaireOption.id }}
            </option>
          </select>
        </div>
      </div>

      <div>
        <button type="button" id="cancel-save" data-cy="entityCreateCancelButton" class="btn btn-secondary" (click)="previousState()">
          <fa-icon icon="ban"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
        </button>

        <button
          type="submit"
          id="save-entity"
          data-cy="entityCreateSaveButton"
          [disabled]="editForm.invalid || isSaving"
          class="btn btn-primary"
        >
          <fa-icon icon="save"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
        </button>
      </div>
    </form>
  </div>
</div>
