<div class="d-flex justify-content-center">
  <div class="col-8">
    <div *ngIf="quartier">
      <h2 data-cy="quartierDetailsHeading"><span jhiTranslate="fitFootApp.quartier.detail.title">Quartier</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span jhiTranslate="global.field.id">ID</span></dt>
        <dd>
          <span>{{ quartier.id }}</span>
        </dd>
        <dt><span jhiTranslate="fitFootApp.quartier.nom">Nom</span></dt>
        <dd>
          <span>{{ quartier.nom }}</span>
        </dd>
        <dt><span jhiTranslate="fitFootApp.quartier.ville">Ville</span></dt>
        <dd>
          <div *ngIf="quartier.ville">
            <a [routerLink]="['/ville', quartier.ville.id, 'view']">{{ quartier.ville.id }}</a>
          </div>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span jhiTranslate="entity.action.back">Back</span>
      </button>

      <button type="button" [routerLink]="['/quartier', quartier.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span jhiTranslate="entity.action.edit">Edit</span>
      </button>
    </div>
  </div>
</div>
