<div>
  <h2 id="page-heading" data-cy="AnnonceHeading">
    <span jhiTranslate="fitFootApp.annonce.home.title">Annonces</span>

    <div class="d-flex justify-content-end">
      <button class="btn btn-info me-2" (click)="load()" [disabled]="isLoading">
        <fa-icon icon="sync" [spin]="isLoading"></fa-icon>
        <span jhiTranslate="fitFootApp.annonce.home.refreshListLabel">Refresh list</span>
      </button>

      <button
        id="jh-create-entity"
        data-cy="entityCreateButton"
        class="btn btn-primary jh-create-entity create-annonce"
        [routerLink]="['/annonce/new']"
      >
        <fa-icon icon="plus"></fa-icon>
        <span jhiTranslate="fitFootApp.annonce.home.createLabel"> Create a new Annonce </span>
      </button>
    </div>
  </h2>

  <jhi-alert-error></jhi-alert-error>

  <jhi-alert></jhi-alert>

  <div class="alert alert-warning" id="no-result" *ngIf="annonces?.length === 0">
    <span jhiTranslate="fitFootApp.annonce.home.notFound">No Annonces found</span>
  </div>

  <div class="table-responsive table-entities" id="entities" *ngIf="annonces && annonces.length > 0">
    <table class="table table-striped" aria-describedby="page-heading">
      <thead>
        <tr jhiSort [(predicate)]="predicate" [(ascending)]="ascending" (sortChange)="navigateToWithComponentValues()">
          <th scope="col" jhiSortBy="id">
            <div class="d-flex">
              <span jhiTranslate="global.field.id">ID</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="description">
            <div class="d-flex">
              <span jhiTranslate="fitFootApp.annonce.description">Description</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="heureDebut">
            <div class="d-flex">
              <span jhiTranslate="fitFootApp.annonce.heureDebut">Heure Debut</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="heureFin">
            <div class="d-flex">
              <span jhiTranslate="fitFootApp.annonce.heureFin">Heure Fin</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="duree">
            <div class="d-flex">
              <span jhiTranslate="fitFootApp.annonce.duree">Duree</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="validation">
            <div class="d-flex">
              <span jhiTranslate="fitFootApp.annonce.validation">Validation</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="nombreParEquipe">
            <div class="d-flex">
              <span jhiTranslate="fitFootApp.annonce.nombreParEquipe">Nombre Par Equipe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="status">
            <div class="d-flex">
              <span jhiTranslate="fitFootApp.annonce.status">Status</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="equipe.id">
            <div class="d-flex">
              <span jhiTranslate="fitFootApp.annonce.equipe">Equipe</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="terrain.id">
            <div class="d-flex">
              <span jhiTranslate="fitFootApp.annonce.terrain">Terrain</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col" jhiSortBy="responsable.id">
            <div class="d-flex">
              <span jhiTranslate="fitFootApp.annonce.responsable">Responsable</span>
              <fa-icon class="p-1" icon="sort"></fa-icon>
            </div>
          </th>
          <th scope="col"></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let annonce of annonces; trackBy: trackId" data-cy="entityTable">
          <td>
            <a [routerLink]="['/annonce', annonce.id, 'view']">{{ annonce.id }}</a>
          </td>
          <td>{{ annonce.description }}</td>
          <td>{{ annonce.heureDebut | formatMediumDatetime }}</td>
          <td>{{ annonce.heureFin | formatMediumDatetime }}</td>
          <td>{{ annonce.duree }}</td>
          <td>{{ annonce.validation }}</td>
          <td>{{ annonce.nombreParEquipe }}</td>
          <td jhiTranslate="{{ 'fitFootApp.STATUS.' + annonce.status }}">{{ annonce.status }}</td>
          <td>
            <div *ngIf="annonce.equipe">
              <a [routerLink]="['/equipe', annonce.equipe.id, 'view']">{{ annonce.equipe.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="annonce.terrain">
              <a [routerLink]="['/terrain', annonce.terrain.id, 'view']">{{ annonce.terrain.id }}</a>
            </div>
          </td>
          <td>
            <div *ngIf="annonce.responsable">
              <a [routerLink]="['/joueur', annonce.responsable.id, 'view']">{{ annonce.responsable.id }}</a>
            </div>
          </td>
          <td class="text-end">
            <div class="btn-group">
              <button
                type="submit"
                [routerLink]="['/annonce', annonce.id, 'view']"
                class="btn btn-info btn-sm"
                data-cy="entityDetailsButton"
              >
                <fa-icon icon="eye"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
              </button>

              <button
                type="submit"
                [routerLink]="['/annonce', annonce.id, 'edit']"
                class="btn btn-primary btn-sm"
                data-cy="entityEditButton"
              >
                <fa-icon icon="pencil-alt"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
              </button>

              <button type="submit" (click)="delete(annonce)" class="btn btn-danger btn-sm" data-cy="entityDeleteButton">
                <fa-icon icon="times"></fa-icon>
                <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
              </button>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
